<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp/>
        <loggerName/>
        <threadName/>
        <logLevel/>
        <message/>
        <stackTrace/>
        <mdc/>
      </providers>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="JSON"/>
  </root>
</configuration>
